.container {
  @apply mt-6;
}

.city {
  @apply mt-px ml-2;
  grid-area: city;
}

.school {
  @apply text-3xl mt-4;
  grid-area: school;
}

.dates {
  @apply font-semibold text-sky-900 dark:text-sky-300 mt-2;
  grid-area: dates;
}

.description {
  @apply text-gray-900 dark:text-white mt-4;
  grid-area: description;
}

@media screen(lg) {
  .container {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas: 
      "school dates"
      "description dates";
  }

  .dates {
    @apply mt-0;
  }
}