.iconWrapper svg {
  @apply fill-current transition transform duration-300 ease-in-out;
  fill: currentColor;
  transition-property: color;
  transition-timing-function: theme(transitionTimingFunction.in-out);
  transition-duration: theme(transitionDuration.300);
}

.iconWrapper path {
  fill: currentColor
}
