.iconWrapper svg {
  fill: currentColor;
  transition-duration: 300ms;
  transition-property: color;
  transition-timing-function: var(--transition-timing-function-in-out);
}

.iconWrapper path {
  fill: currentColor;
}
