@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .elevation {
    box-shadow:
      0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14),
      0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../node_modules/geist/dist/fonts/geist-sans/Geist-Regular.woff2")
    format("woff2");
  font-family: "Geist Sans";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("../node_modules/geist/dist/fonts/geist-sans/Geist-Medium.woff2")
    format("woff2");
  font-family: "Geist Sans";
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("../node_modules/geist/dist/fonts/geist-sans/Geist-SemiBold.woff2")
    format("woff2");
  font-family: "Geist Sans";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("../node_modules/geist/dist/fonts/geist-sans/Geist-Bold.woff2")
    format("woff2");
  font-family: "Geist Sans";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../node_modules/geist/dist/fonts/geist-mono/GeistMono-Regular.woff2")
    format("woff2");
  font-family: "Geist Mono";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("../node_modules/geist/dist/fonts/geist-mono/GeistMono-Medium.woff2")
    format("woff2");
  font-family: "Geist Mono";
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("../node_modules/geist/dist/fonts/geist-mono/GeistMono-SemiBold.woff2")
    format("woff2");
  font-family: "Geist Mono";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("../node_modules/geist/dist/fonts/geist-mono/GeistMono-Bold.woff2")
    format("woff2");
  font-family: "Geist Mono";
}
