.container {
  display: grid;
  z-index: 10;
  position: sticky;
  top: 0;

  grid-template-areas:
    "profile icon"
    "sections sections";
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-3);
  background-image: linear-gradient(
    to right,
    var(--color-sky-700),
    var(--color-sky-800),
    var(--color-sky-900)
  );

  isolation: isolate;
}

.icon {
  grid-area: icon;
  justify-self: end;
}

.profile {
  grid-area: profile;
  justify-self: start;
}

.sections {
  grid-area: sections;
}

/* @screen md { */
@media (width >= 768px) {
  .container {
    grid-template-areas: "profile sections";
  }

  .icon {
    display: none;
  }
}

/* @screen lg { */
@media (width >= 1024px) {
  .container {
    grid-template-areas:
      "profile"
      "sections";
    align-content: center;
    justify-content: center;
    width: var(--width-3xs);
    height: 100%;
    min-height: 100dvh;
  }

  .icon {
    display: none;
  }
}

@media print {
  .container {
    display: static;
  }

  .icon {
    display: none;
  }
}
